<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
  </head>
  <body>
    <h1>Shopping</h1>
        <form method="POST" action='/checkout'>
            <p>Enter your item to purchase: <p>
                <p><textarea name="user_purchase" rows="4" cols="60"></textarea></p>
            <button type="submit" value="submit">Submit</button>
        </form>
  </body>
</html>
